<div class="fixed left-0 right-0 top-0 z-50 flex items-center justify-between gap-4 p-4 sm:px-8" style="--radius: 3px;">
  <div class="flex items-center rounded-lg border border-primary/10 bg-secondary/50 text-sm text-primary backdrop-blur-xl">
    <a href="/" class="group/btn flex items-center py-4 pl-4" title="Home" aria-label="Home">
      <svg class="fill-current transition-all group-active/btn:opacity-50" height="1em" viewBox="0 0 93 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.94246 0.185753C11.9457 0.185753 13.3233 3.20384 13.3233 5.53973V6.00329C13.3233 8.41644 12.2712 11.6975 5.95725 11.6975H0.0460205V0.185753H5.94246ZM3.23506 9.12986H5.80438C9.67232 9.12986 10.0126 7.24274 10.0126 5.94247V5.85041C10.0126 4.56658 9.64109 2.74027 5.80438 2.74027H3.23506V9.13151V9.12986ZM22.1753 0C27.5605 0 29.0926 3.1726 29.0926 5.67945V6.14301C29.0926 8.61863 27.5605 11.8833 22.1753 11.8833H21.4948C16.1096 11.8833 14.5775 8.61863 14.5775 6.14301V5.67945C14.5775 3.1726 16.1096 0 21.4948 0H22.1753ZM21.8351 2.63178C18.6164 2.63178 17.8899 4.38082 17.8899 5.80438V6.02137C17.8899 7.4137 18.6641 9.24 21.8351 9.24C25.006 9.24 25.7803 7.4137 25.7803 6.02137V5.80438C25.7803 4.38082 25.0833 2.63178 21.8351 2.63178ZM30.4225 0.185753H34.6619L38.3293 7.98411L42.1052 0.185753H46.0816V11.6975H42.9715V4.16219L39.4751 11.6975H36.983L33.4866 4.16219V11.6975H30.4225V0.185753ZM51.0805 9.56384L50.1518 11.6992H46.9496L52.0553 0.187397H56.326L61.6652 11.6992H58.246L57.3025 9.56384H51.0805ZM54.1446 2.50685L52.1178 7.19507H56.234L54.1446 2.50685ZM65.7025 11.6992H62.5151V0.185753H65.7025V11.6992ZM70.2674 4.2411V11.6992H67.1573V0.185753H70.4383L77.1699 7.59781V0.185753H80.2652V11.6975H77.1386L70.269 4.23945L70.2674 4.2411ZM92.349 0.185753V2.6926H84.9534V4.56493H92.1172V7.16384H84.9534V9.15945H92.4427V11.6975H81.812V0.185753H92.349Z"/>
      </svg>
    </a>

    <button class="p-4 opacity-50 transition-opacity hover-supported:hover:opacity-100">
      <svg class="fill-current" height="1em" viewBox="0 0 5 5" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H1.875V1.875H0V0ZM0 3.125H1.875V5H0V3.125ZM3.125 0H5V1.875H3.125V0ZM3.125 3.125H5V5H3.125V3.125Z"/>
      </svg>
    </button>
  </div>

  <div class="absolute-center hidden items-center rounded-lg border bg-primary text-primary-foreground lg:flex">
    {% for link in linklists[section.settings.menu].links %}
      <a href="{{ link.url }}" aria-label="{{ link.title }}" title="{{ link.title }}" class="px-4 py-4 transition-all first:pl-8 last:pr-8 hover-supported:hover:opacity-50">{{ link.title }}</a>
    {% endfor %}
  </div>

  <div class="flex items-center gap-2 text-secondary-foreground">
    <a href="{{ routes.search_url }}" class="flex-center group/btn size-12 rounded-lg border border-primary/10 bg-secondary/50 backdrop-blur-xl" aria-label="Search" title="Search">
      <svg class="transition-all group-hover/btn:opacity-50" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.031,20.79c0.46,0.46,1.17-0.25,0.71-0.7l-3.75-3.76c1.27-1.41,2.04-3.27,2.04-5.31 c0-4.39-3.57-7.96-7.96-7.96s-7.96,3.57-7.96,7.96c0,4.39,3.57,7.96,7.96,7.96c1.98,0,3.81-0.73,5.21-1.94L20.031,20.79z M4.11,11.02c0-3.84,3.13-6.96,6.96-6.96c3.84,0,6.96,3.12,6.96,6.96c0,3.84-3.12,6.96-6.96,6.96C7.24,17.98,4.11,14.86,4.11,11.02z"></path>
      </svg>
    </a>

    {% if shop.customer_accounts_enabled %}
      <a href="{{ routes.account_url }}" class="flex-center group/btn size-12 rounded-lg border border-primary/10 bg-secondary/50 backdrop-blur-xl" aria-label="Account" title="Account">
        <svg class="transition-all group-hover/btn:opacity-50" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.438,21.937H6.562a2.5,2.5,0,0,1-2.5-2.5V18.61c0-3.969,3.561-7.2,7.938-7.2s7.938,3.229,7.938,7.2v.827A2.5,2.5,0,0,1,17.438,21.937ZM12,12.412c-3.826,0-6.938,2.78-6.938,6.2v.827a1.5,1.5,0,0,0,1.5,1.5H17.438a1.5,1.5,0,0,0,1.5-1.5V18.61C18.938,15.192,15.826,12.412,12,12.412Z"></path>
          <path d="M12,9.911a3.924,3.924,0,1,1,3.923-3.924A3.927,3.927,0,0,1,12,9.911Zm0-6.847a2.924,2.924,0,1,0,2.923,2.923A2.926,2.926,0,0,0,12,3.064Z"></path>
        </svg>
      </a>
    {% endif %}

    <a href="{{ routes.cart_url }}" class="flex-center group/btn size-12 rounded-lg border border-primary/10 bg-secondary/50 backdrop-blur-xl" aria-label="Cart" title="Cart">
      <span class="block min-h-4 min-w-4 rounded-lg border bg-primary text-center text-xs text-primary-foreground transition-all group-hover/btn:opacity-50">{{ cart.item_count }}</span>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "header",
      "content": "Link Lists"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
